/* Global Layout Set-up */
* { 
    box-sizing: border-box;
  }
    
  body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: gray; 
  }
  /* Link Styles */
  
  a {
    text-decoration: none;
    color: #0499ff;
  }
  a:hover {
    color: #6633ff;
  }
  
  /* Section Styles */
  
  .main-nav {
    width: 100%;
    background: black;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  .nav .name {
    display: none;
  }
  .nav li {
    padding: 5px 10px 10px 10px;
  }
  .nav a {
    transition: all .5s;
  }
  .nav a:hover {
    color: white
  }
  
  header {
    text-align: center;
    background: url() no-repeat top center ;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
  }
  header {
    line-height: 1.5;
  }
  header .profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid darkred;
    transition: all .5s;
  }
  header .profile-image:hover {
    transform: scale(1.2) rotate(360deg);
  }
  .tag {
    background-color: darkred;
    color: black;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
  } 
  .location {
    background-color: #222;
    color: white;
  }
  .card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
  }
  .card:hover {
    border-color: #ff99ff;
  }
  
  ul.skills {
    padding: 0;
    text-align: center;
  }
  
  .skills li {
    border-radius: 6px;
    display: inline-block;
    background: #ff9904;
    color: white;
    padding: 5px 10px;
    margin: 2px;
  }
  
  .skills li:nth-child(odd) {
    background: #0399ff;
  }
  
  footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 40px;
  }
  
  footer .copyright {
    top: 8px;
    margin-right: 20px;
    font-size: .75em;
  }
  
  footer ul {
    list-style-type: none;
    margin: 50px;
    padding: 50px;
  }
  
  footer ul li {
    display: inline-block;
  }
  
  a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 300px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .5;
    transition: all .25s;
  }
  
  
  @media screen and (min-width: 720px) {
    
    .flex {
        display: flex;
        max-width: 1200px;
        justify-content: space-around;
        margin: 0 auto;
    }
  
    header {
      min-height: 450px;
    }
  
    .nav {
      max-width: 1200px;
    }
  
    .nav .name {
      display: block;
      margin-right: auto;
      color: green;
    }
  
    main {
      padding-top: 50px;
    }
  
    main p {
      line-height: 1.6em;
    }
  
    footer {
      font-size: 1.3em;
      max-width: 1200px;
      margin: 40px auto;
    }
  
  }

  .separator {
    margin: 40px auto;
    width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}
injected stylesheet
*, html {
    scroll-behavior: auto !important;
}

  @media only screen and (min-width: 1000px)
{#contact_me_div, .presentation, .portfolio {
      max-width: 1150px;
      margin-right: auto;
      margin-left: auto;
  }
  
@media only screen and (min-width: 992px)
{#contact_me_div {
    display: flex;
}
#contact_me_div {
    padding-bottom: 50px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
injected stylesheet
*, html 
 {scroll-behavior: auto !important;}}}

 body {
  margin: 100;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: auto;
  background-color: burlywood;
}


.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }

  .dropdown-content {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style for the dropdown button */
.dropdown-btn {
    background-color: darkgray;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
}

/* Style for the dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}